@page
@model IndexModel
@{
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">MarshallStore<span class="text-primary">Support your customers</span></h1>
            <p class="lead pb-4">Give your customers a way to communicate and solve their problems</p>
            <a href="javascript:void(0)" class="btn btn-outline-default">Create an account</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
        <img class="ml-lg-5" src="/img/Requirements/Requirements.png" width="250">
        </div>
    </div>
    </div>
</div>
