@page
@model IndexModel
@{
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">MarshallStore<span class="text-primary">Search what you want, all in electronics</span></h1>
            <p class="lead pb-4">TV's, Phones, Audio players, PS5 and more</p>
            <a href="~/Products" class="btn btn-outline-default">SEE PRODUCTS</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
        <img class="ml-lg-5" src="/img/MarshallStore/MarshallStore.png" width="250">
        </div>
    </div>
    </div>
</div>
