@page "/Products"
@model MarshallStore.Areas.MarshallStore.Pages.ProductsModel
@{

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2023
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 01/08/2023 19:39:01

    Layout = "_Layout";
}
<!-- Header -->
<div class="header bg-primary pt-5 mt-5 pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Page title -->
                    <h1 id="marshallstore-product-title-page" class="h2 text-white d-inline-block mb-4">
                        Marshall Store
                    </h1>
                    <br />
                    <h4 class="h4 text-white d-inline-block mb-0">
                        Query products
                    </h4>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <!-- Search Bar -->
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                            <form>
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend" id="marshallstore-product-search-button">
                                        <span class="input-group-text">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    <input id="marshallstore-product-query-string" class="form-control font-weight-bolder" type="search" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="nav-wrapper d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">
                                <!-- Toggler -->
                                <input type="hidden" id="marshallstore-product-view-toggler" value="List" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card body -->
                <div class="card-body p-0 mb-4">
                    <!-- Tab content -->
                    <div class="tab-content">
                        <div id="tab-table" class="tab-pane fade" role="tabpanel" aria-labelledby="marshallstore-product-table-view-button">
                            <div class="row">
                                <div class="col-12">
                                </div>
                            </div>
                        </div>
                        <!-- List View -->
                        <div class="tab-pane fade show active" id="tab-list" role="tabpanel" aria-labelledby="marshallstore-product-list-view-button">
                            <div class="card-columns">
                                <div id="marshallstore-product-body-list"></div>
                            </div>
                            <div class="row mx-2">
                                <div class="col-12 text-center">
                                    <button id="marshallstore-product-search-more-button-in-list" class="btn btn-link btn-block text-gray">
                                        <i class="fas fa-2x fa-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script src="/dist/productcustomjquery.bundle.js"></script>