@page "/PurchaseFinished"
@model MarshallStore.Pages.PurchaseFinishedModel
@{
}
<div class="page-header">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
                <h3 class="display-3">Purchase finished</h3>
                <p class="lead mt-0">Check your mail to see more details.</p>
                <br />
                <div class="buttons">
                  <a href="~/Products" class="btn btn-danger">
                    SEE PRODUCTS
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>